#annual-events > div.generated_data > .month{
  margin-bottom: 2em;
}


#annual-events > div.generated_data > .month > .month_title {
  background-color: hsl(188, 49%, 82%);
  color: #213a70;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

#annual-events > div.generated_data > .month > .event > .event_info {
  margin-left: 1em;
}

#annual-events
  > div.generated_data
  > .month
  > .event
  > .event_info
  > .event_name {
  font-weight: bold;
}

#annual-events
  > div.generated_data
  > .month
  > .event
  > .event_info
  > .event_name {
  font-weight: bold;
}
#annual-events > table.generated_data > thead {
  background-color: hsl(188, 49%, 82%);
}
